{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_gigachat/chat

    Example context (json):
    {
        "gigachatname": "Name",
        "manage_capability": true,
        "message_01": "string",
        "message_02": "string",
        "agentphotourl": "https://host.com/image.png"
    }
}}

<div id="gigachat-chat" style="display:none">
    <input type="hidden" id="local_gigachat_message_01" value="{{message_01}}">
    <input type="hidden" id="local_gigachat_message_02" value="{{message_02}}">

    <div class="gigachat-popup">
        <div id="gigachat-scrollarea">
            <div class="gigachat-header">
                <div class="gigachat-info">
                    <img class="icon" src="{{{agentphotourl}}}" alt="Teacher photo">
                    <div class="gigachat-infoname">
                        <span class="gigachat-name">{{{gigachatname}}}</span>
                        <span class="gigachat-status">{{#str}}online,local_gigachat{{/str}}</span>
                    </div>
                </div>
                <div class="right-icons">
                    {{#manage_capability}}
                        <a id="gigachat-icon-report"
                           target="_blank"
                           title="{{#str}}report_title,local_gigachat{{/str}}"
                           href="{{{config.wwwroot}}}/local/gigachat/report.php">
                            {{#pix}}icons/report,local_gigachat{{/pix}}
                        </a>
                    {{/manage_capability}}
                    <a id="gigachat-clear-history"
                       title="{{#str}}clear_history_title,local_gigachat{{/str}}"
                       href="#">
                        {{#pix}}icons/clear,local_gigachat{{/pix}}
                    </a>
                    <a id="gigachat-icon-close"
                       title="{{#str}}close_title,local_gigachat{{/str}}"
                       href="#">
                        {{#pix}}icons/close,local_gigachat{{/pix}}
                    </a>
                </div>
            </div>
            <div id="gigachat-area-mensagens"></div>
        </div>
        <div id="gigachat-sendarea">
            <textarea id="gigachat-textarea" contenteditable="true"
                      placeholder="{{#str}}write_message,local_gigachat{{/str}}"></textarea>

            <div id="gigachat-icon-stop"
                 style="display: none">
                {{#pix}}icons/stop,local_gigachat{{/pix}}
            </div>

            <div id="gigachat-icon-mic"
                 title="{{#str}}send_message,local_gigachat{{/str}}">
                {{#pix}}icons/mic,local_gigachat{{/pix}}
            </div>
            <div id="gigachat-icon-send" title="{{#str}}send_message,local_gigachat{{/str}}">
                {{#pix}}icons/send,local_gigachat{{/pix}}
            </div>
        </div>
    </div>

    <div id="gigachat-chat-btn">
        <span id="gigachat-count-icon" data-count="0">0</span>
        <div class="balloon">{{{talk_gigachat}}}</div>
        <span class="gigachat-icon gigachat-open-icon">
            <img class="icon" src="{{{agentphotourl}}}" alt="Teacher photo">
        </span>
        <span class="gigachat-icon gigachat-close-icon">
            {{#pix}}chat/close,local_gigachat{{/pix}}
        </span>
    </div>
</div>
